@import "tailwindcss";

:root {
}
/**
예시로 남겨 놓음
*/
@theme inline {
  --color-gray-0: #ffffff;
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #CAD5E2
  --color-gray-400: #90A1B9;
  --color-gray-500: #62748E;
  --color-gray-600: #45556C;
  --color-gray-700: #314158;
  --color-gray-800: #1D293D;
  --color-gray-900: #020618;

  --color-red-50: #FEF2F2;
  --color-red-100: #FFE2E2;
  --color-red-600: #E7000B;
 
}

@media (prefers-color-scheme: dark) {
}

html,
root,
body {
  height: 100%;
  min-height: 100%;
}
