@import "tailwindcss";

:root {
}
/**
예시로 남겨 놓음
*/
@theme inline {
  --color-gray-0: #ffffff;
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cad5e2;
  --color-gray-400: #90a1b9;
  --color-gray-500: #62748e;
  --color-gray-600: #45556c;
  --color-gray-700: #314158;
  --color-gray-800: #1d293d;
  --color-gray-900: #0f172b;
  --color-gray-950: #020618;
  --color-red-50: #fef2f2;
  --color-red-100: #ffe2e2;
  --color-red-600: #e7000b;
}

@theme inline {
  /* font */
  --font-pretendard: "Pretendard", sans-serif;

  /* text */
  --text-heading1: 1.5rem;
  --text-heading1--line-height: 2rem;

  --text-heading2: 1.125rem;
  --text-heading2--line-height: 1.5rem;

  --text-title1: 1.25rem;
  --text-title1--line-height: 1.6875rem;

  --text-title2: 1.125rem;
  --text-title2--line-height: 1.5rem;

  --text-title3: 1rem;
  --text-title3--line-height: 1.375rem;

  --text-body1: 1rem;
  --text-body1--line-height: 1.375rem;

  --text-body2: 0.875rem;
  --text-body2--line-height: 1.1875rem;

  --text-body3: 0.75rem;
  --text-body3--line-height: 1rem;
}
@layer utilities {
  .scroll-hide {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scroll-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
@media (prefers-color-scheme: dark) {
}

html,
root,
body {
  height: 100%;
  min-height: 100%;
}
